#po{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sla9{
    text-align: center;
}
#qlqr{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 35px;
}
#qlqr1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    font-size: 35px;
}
#sla7{
width: 300px;
height: 230px;
background-position: center;
margin: auto;
}