#sla{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sla3{
    text-align: center;
}
#slaa{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#sla76{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sla4{
    margin: auto;
    text-align: right;
    background-image: url("https://i.ytimg.com/vi/3q6mEXvu6As/maxresdefault.jpg");
    height: 200px;
    width: 300px;
}
#ld{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sla7{
width: 300px;
height: 230px;
background-position: center;
margin: auto;
}