#rir{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#fli{
    text-align: center;
}
#oio{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 25px;
}
#sla7{
width: 300px;
height: 230px;
background-position: center;
margin: auto;
}