#er{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}


#wq > img, p{
    display: inline-block;
}
#slw{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
 
    

}



#mj > img, p{
    display: inline-block;
}
#toy{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    
}


#kl > img, p{
    display:inline-block ;
}
#ak{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
   
}


#iso > img,p{
    display: inline-block;
}
#poi{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
 
}
#wqqw{
    display: inline-block;
}


#kll{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
 
}


#iy > img,p{
    display: inline-block;
}
#eowi{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    float: inline;
}
#sla7{
width: 300px;
height: 230px;
background-position: center;
margin: auto;
}
