#loud{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
}
#lpp{
    text-align: center;
}
#lo{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: left;
font-size: 25px;
}
#sla7{
width: 300px;
height: 230px;
background-position: center;
margin: auto;
}